{% extends 'base.html.twig' %}

{% block title %}Graphique{% endblock %}

{% block body %}
    <h1> Page en construction</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
{% endblock %}
