{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        La page demandée n'a pas été trouvée. Vérifier l'orthographe ou faites une nouvelle recherche <a href="{{ path('home') }}">retour sur la page d'accueil</a>.
    </p>
{% endblock %}